.colorNav{
    background-color: #F28F6B !important;
}
.navLogo{
    font-family: 'cursive' !important;
}
body{
    background-color: #f26d7811;
}
.cardCont{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #3b3b3b;
    border-radius: 15px;
}